<section class="listing">
  @if (housingLocation) {
    <img
      class="listing-photo"
      [ngSrc]="housingLocation.photo"
      alt="Exterior photo of {{ housingLocation.name }}"
      crossorigin
      (click)="imageClicked()"
      width="250"
      height="250"
    />
    <h2 class="listing-heading">{{ housingLocation.name }}</h2>
    <p class="listing-location">
      {{ housingLocation.city }}, {{ housingLocation.state }}
    </p>
    <a [routerLink]="['/details', housingLocation.id]">Learn more</a>
  }
  @else {
    <p>Invalid Housing Location details.</p>
  }
</section>
